@font-face {
    font-family: 'Fredoka';
    src: url(./fonts/fredoka.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf);
}

* {
    font-family: Fredoka, sans-serif;
    padding: 0;
    margin: 0;
    text-wrap: balance;

    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

hr {
    margin: 20px 0;
    border: 1px solid #e0e0e0;
}

.grid {
    display: grid;
    grid-template-areas: 
    "nav main aside";
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 10px;
    text-wrap: pretty;
}

h2 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
    text-wrap: pretty;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
    text-wrap: pretty;
}

h2 + h3 {
    margin-top: 25px;
}

h4 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 10px;
    text-wrap: pretty;
}

h3 + h4 {
    margin-top: 10px;
}


h5 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 10px;
    text-wrap: pretty;
}

p {
    margin-bottom: 20px;
    font-size: 20px;
    overflow-wrap: anywhere;
    text-wrap: pretty;
}

p + h3, p + h4, p + h5 {
    margin-top: 45px;
}

strong {
    font-weight: 500;
}

main span {
    font-weight: normal;
    color: #2e274ee2;
}


main img {
    width: 80%;
    height: auto;

    margin: 30px auto;
    display: block;
    
    filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.2));

}

section ul {
    margin-bottom: 30px;
}

section ul li {
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 20px;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.center {
    text-align: center;
}
img {
    height: 250px;
    margin: 20px 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    background-color: #2e274e;
    color: white;
    text-align: right;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul, .grid nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a, .grid nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover, .grid nav ul li a:hover {
    text-decoration: underline;
}

.grid nav ul {
    padding: 0 10px;
}
.grid nav ul ul{
    margin-left: 20px;
}

.grid nav ul ul li{
    margin-top: 8px;
}

.grid nav ul ul li a{
    font-size: 1em;
    color: #1d1d20;
    font-weight: normal;
}

.grid nav ul li a{
    font-size: 1.3em;
    color: #1d1d20;
    font-weight: 500;
}

.grid nav {
    grid-area: nav;
    color: #1d1d20;
    padding: 0 10px;
    margin-top: 40px;
    position: relative;
}

.grid nav .index-container {
    border-right: 2px solid #2e274e;
    position: sticky;
    top: 110px;
}

main {
    grid-area: main;
    padding: 20px;
}

aside {
    grid-area: aside;
    padding: 20px 0;
    position: relative;
}

.img-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.img-row img {
    margin: 10px;
    height: 60px;
    width: auto;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside .card {
    background-color: #2e274e;
    color: white;
    position: sticky;
    top: 110px;
}

aside .card .author-container {
    display: flex;
    align-items: center;
}

aside .card h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

aside .card .author-container img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

aside .card .author-container span {
    font-size: 14px;
    font-weight: 500;
}

pre {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.author-index-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 75%;
    margin: auto;
    gap: 20px;
}

.author-index-container h4 {
    font-size: 25px;
}

.author-index-container .author-index-image {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: 30px 10px;
}

code {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #1d1d20;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 18px;
}
